.contact-table
{
    margin: auto;
}

.contact-table tbody tr td:nth-child(1)
{
    text-align-last: right;
}

.contact-table tbody tr td:nth-child(2)
{
    text-align-last: left;
}

.contact-table a
{
    color: var(--color);
}