@media screen and (max-width: 800px) {
    #footer
    {
        padding: .5rem !important;
    }
}

#footer
{
    background-color: var(--primary-dark);
    width: 100%;
    padding: 2rem;
}

#footer a
{
    color: white;
}