*
{
    box-sizing: border-box;
}

:root
{
    --primary: hsl(216, 37%, 30%);
    --primary-dark: hsl(217, 89%, 59%);
}

html,
body
{
    padding: 0;
    margin: 0;
}

html
{
	scrollbar-color: var(--primary) transparent;
	scrollbar-width: thin;
}

body
{
    font-family: 'Courier New', Courier, monospace;
    text-rendering: optimizeLegibility;
    color: var(--primary);
    filter: hue-rotate(40deg);
    background-color: #fdffc8;
}

::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

::-webkit-scrollbar-corner {
    background: var(--primary);
}